  <form method="post" action="/articles">
    <h1>Enter your article info: <h1>
    <br>
    <h2>Article: <h2>
    <label> Article Title: </label>
    <input type="text" id="title" name="article[title]">
        <br>
    <label> Article Content:</label>
    <input type="text" id="content" name="article[content]">
    
        <br> 
 
    <button type="submit" id="id" value="submit">submit</button>

  </form>


