<h1>Create a new article!</h1>

<form action="/articles" method="POST">
  <label for="title"></label>
  <input type="text" name="title" id="title"><br />

  <label for="content"></label>
  <textarea name="content" id="content"></textarea><br />

  <input type="submit">
</form>